header {
  background: rgb(23,63,107);
  background: linear-gradient(41deg, rgba(23,63,107,1) 0%, rgba(49,135,155,1) 32%, rgba(49,135,155,1) 100%);
  color: white;
  font-family: 'Lobster Two', cursive;
}

header .main-link-bar {
  background-color: #00000029;
}

header .main-link-bar__content {
  padding: 1rem 0;
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .main-link-bar__content a {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

header .main-link-bar__content-links {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
}

header .main-link-bar__content-links a {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
}

header .main-link-bar__content-links .divider {
  border-left: 2px solid white;
  height: 20px;
  margin-left: 1rem;
}

/* Main content of the header, as in the name, tagline, and image */

header .main-content {
  max-width: 80rem;
  margin: 0 auto;
  padding: 8rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header .main-content div {
  width: 120rem;
}

header .main-content h1 {
  line-height: 1;
  font-size: 8rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

header .main-content p {
  font-size: 2rem;
}
