header {
  background: rgb(23,63,107);
  background: linear-gradient(41deg, rgba(23,63,107,1) 0%, rgba(49,135,155,1) 32%, rgba(49,135,155,1) 100%);
  color: white;
  font-family: 'Lobster Two', cursive;
}

/* Main content of the header, as in the name, tagline, and image */

header .main-content {
  max-width: 80rem;
  margin: 0 auto;
  padding: 8rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header .main-content div {
  width: 120rem;
}

header .main-content h1 {
  line-height: 1;
  font-size: 8rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

header .main-content p {
  font-size: 2rem;
}
