input {
  padding: 0.5rem 0;

  border: none;
  border-bottom: 2px solid #4a4a4a;

  width: 100%;
  accent-color: #0075ff;
}

/* input:focus {
  outline: none;
  border-bottom-color: #0075ff;
  /* border-color: red; */
/* } */ */

input[type=range]:focus {
  outline: dashed thin;
}